<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="header" class="w3-container">
    <header>
        <div id="header_content" class="w3-row">
            <div id="header_texts" class="w3-half">
                <h1 th:text=" ${title}"/>
                <h2 th:if="${name != null}" th:text="${name}"/>
            </div>
            <div id="imageContainer" class="w3-half">
                <img src="/images/header_icon.png"
                     width="120px"
                     height="120px"/>
            </div>
        </div>
    </header>

    <nav class="w3-bar">
        <a th:href="@{/oauth2/authorization/google}" sec:authorize="isAnonymous()" class="w3-bar-item w3-button"
           th:text="#{sign_in}"></a>

        <a th:href="@{/}" th:if="${show_link_home != null}" class="w3-bar-item w3-button" th:text="#{home}"></a>

        <a th:href="@{/team-registration}" th:if="${show_link_team_reg != null}" class=" w3-bar-item w3-button"
           th:text="#{team_reg}" sec:authorize="isAuthenticated()"></a>

        <a th:href="@{/member}" th:if="${show_link_my_activity != null}" class=" w3-bar-item w3-button"
           th:text="#{my_activity}" sec:authorize="isAuthenticated()"></a>

        <a href="/" th:if="${show_link_team_perf != null}" class=" w3-bar-item w3-button" th:text="#{team_perf}"></a>

        <a href="/team" th:if="${show_link_my_team != null}" sec:authorize="isAuthenticated()"
           class=" w3-bar-item w3-button"
           th:text="#{my_team}"></a>

        <a id="logout_bt" class="w3-bar-item w3-button" th:href="@{/logout}" th:text="#{logout}"
           sec:authorize="isAuthenticated()"></a>
    </nav>


</div>
</body>
</html>
