<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="header" class="w3-container">
    <header>
        <div id="header_content" class="w3-row">
            <div id="header_texts" class="w3-half">
                <h1 th:text=" ${title}"/>
                <h2 th:if="${name != null}" th:text="${name}"/>
            </div>
            <div id="imageContainer" class="w3-half">
                <img src="http://downloadicons.net/sites/default/files/skip-icons-70767.png"
                     width="120px"
                     height="120px"/>
            </div>
        </div>
    </header>

    <nav class="w3-bar">
        <a th:href="@{/}" th:if="${show_link_home != null}" class="w3-bar-item w3-button" th:text="#{home}"></a>
        <a th:href="@{/team-registration}" th:if="${show_link_team_reg != null}" class=" w3-bar-item w3-button"
           th:text="#{team_reg}"></a>
        <a href="/" th:if="${show_link_team_perf != null}" class=" w3-bar-item w3-button" th:text="#{team_perf}"></a>
    </nav>


</div>
</body>
</html>
