<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/home.css"/>
</head>
<body>
<div th:fragment="performanceBar(time, calories)">
    <div id="summaryContainer">
        <div id="totalCalories">
            <img src="https://i.pinimg.com/originals/c9/04/96/c904969568c114f60636b56019e02aab.png" width="75px"
                 height="75px"/>
            <div th:text="${calories}"></div>
            <div th:text="#{home.total_cal}"></div>
        </div>

        <div id="totalHours">
            <img src="https://cdn2.iconfinder.com/data/icons/ui-pt-3-bold/100/143_-_clock-512.png" width="75px"
                 height="75px"/>
            <div th:text="${#numbers.formatDecimal(time,1,3)}"></div>
            <div th:text="#{home.total_hours}"></div>
        </div>
    </div>
</div>
</body>
</html>