@import url("./common.css");

form > div {margin: 0px auto 20px; width: 360px; padding-left:10px; text-align: left;}
form span {display: inline-block; width: 80px;}
section > h3 {margin-bottom: 30px;}
.errorClass {text-align: center; color: red}
.button {margin-top: 30px; margin-bottom: 30px;}