@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("./header.css");

@font-face {
    font-family: 'Epam-title-500';
    src: url("../fonts/exljbris - MuseoSans-500.otf");
}

@font-face {
    font-family: 'Epam-title-500';
    src: url("../fonts/exljbris - MuseoSans-500.otf");
}

body {background-color: #76cdd8; padding: 0% 10% 3% 10%; font-family: 'Epam-title-500';}
section {background-color: #CCCCCC; margin-top: 20px;  box-shadow: 10px 10px 5px #263852;}
h2, h3 {color: #222222;}

h2 {text-transform: uppercase}


.button {
    position: relative;
    background-color: #008ACE;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    padding: 15px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

table {
    border: 1px solid #464547;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.inputFieldErr {border-color: red;}

.globalErr, .errorClass {color: red;}




