h1 {margin-bottom: 0px; margin-top: 0px; color: white; font-size: 55px; font-weight: bold; text-transform: capitalize;}
#header_texts {padding-top: 0px;}
#header_content {text-align: center; box-sizing: border-box; width: 80%; margin: 10px auto 20px;}
header {padding: 20px; background-color: #CEDB56; margin: 0 6%;  box-shadow: 10px 10px 5px #263852;}
#header_texts h2 {margin-top: 0px}
nav { background-color: #464547;  box-shadow: 10px 10px 5px #263852; text-transform: uppercase;  color: white; padding: 20px;}

@media (max-width: 560px) {
h1 {font-size: 30px;}
}

