@import url("./common.css");
@import url("./performance_bar.css");

h2 {margin-bottom: 50px;}
#teamContainer, #athleteContainer {margin-bottom: 40px; padding-left: 10%; padding-right: 10%;}
#leaderboardContainer > h2{margin-top: 100px; margin-bottom: 20px;}