#summaryContainer {width: 600px; margin-left: auto; margin-right: auto; margin-top:40px; font-size: 22px;}
#summaryContainer > div {display: inline-block; width: 35%; margin:0 40px; vertical-align: top;}
#summaryContainer img {margin-bottom: 20px}