@import url("./common.css");
h2, #sign_up_title {margin-top: 70px;}
#sign_up_title {margin-bottom: 30px; text-transform: uppercase}
input {margin-bottom: 10px;}
input:nth-child(2) {margin-bottom: 30px;}
button {margin-top: 20px; margin-bottom: 20px;}

