<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/activity_registration.css"/>

</head>

<body>
<div th:replace="fragments/header :: header(title=#{activity_reg}, show_link_team_reg='true', show_link_home='true', name=${requestedPerson.name})"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{activity_reg.title}"></h2>
    <h3 th:text="#{activity_reg.text1}"></h3>

    <form th:href="@{/activity/${requestedPerson.id}}" method="post" th:object="${activity}">
        <div>
            <span th:text="#{activity.activity}"></span>
            <select th:errorClass="inputFieldErr" th:field="*{type.name}">
                <option value="" selected hidden>Please select</option>
                <option th:each="activityType : ${activityTypes}"
                        th:value="${activityType.name}"
                        th:text="${#strings.capitalize(#strings.toLowerCase(activityType.name))}">
                </option>

            </select>
        </div>

        <div>
            <span th:text="#{activity.duration}"></span>
            <input type="number" th:field="*{minutesSpent}" th:errorClass="inputFieldErr">
            <span th:text="#{activity.minutes}"></span>
        </div>

        <div>
            <span th:text="#{activity.date}"></span>
            <input type="date" th:field="*{date}" th:errorClass="inputFieldErr">
        </div>
        <button type="submit" class="button" th:text="#{activity.save}"></button>

        <div class="errorClass" th:errors="*{type.name}"></div>
        <div class="errorClass" th:errors="*{type}"></div>
        <div class="errorClass" th:errors="*{date}"></div>
        <div class="errorClass" th:errors="*{minutesSpent}"></div>

    </form>

</section>
</body>
</html>
