<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/activity_registration.css"/>

</head>

<body>
<div th:replace="fragments/header :: header(title=#{activity_reg}, show_link_team_reg='true', show_link_home='true', name=${requestedPerson.name})"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{activity_reg_confirm.saved}"></h2>

    <div>
        <span th:text="#{activity_reg_confirm.text_part1}"></span>
        <a th:href="@{/member/{id}(id = ${requestedPerson.id})}" th:text="#{activity_reg_confirm.text_part2}"></a>
        <span th:text="#{activity_reg_confirm.text_part3}"></span>
        <a th:href="@{/team/{id}(id = ${requestedPerson.memberOf.id})}"
           th:text="#{activity_reg_confirm.text_part4}"></a>
    </div>


</section>
</body>
</html>
