<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/common.css"/>

</head>

<body>
<div th:replace="fragments/header :: header(title=#{home.title})"/>

<section class="w3-center w3-padding-24">
    <h3 th:text="${errorMessage}?: #{common_error}"></h3>
    <h3 th:text="${status}"></h3>

</section>
</body>
</html>
