<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/home.css"/>

</head>

<body>
<div th:replace="fragments/header :: header(title=#{home.title}, show_link_team_reg='true', show_link_my_activity='true', show_link_my_team='true')"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{home.subtitle}"></h2>

    <div th:unless="${thereAreActivites}">
        <h2 th:text="#{home.no_activites}"></h2>
        <h3 th:text="#{home.be_first}"></h3>
    </div>

    <div th:if="${thereAreActivites}">
        <div th:replace="fragments/performance_bar :: performanceBar(${totalStatistics.hoursSpent}, ${totalStatistics.caloriesBurnt})"/>

        <div id="leaderboardContainer">
            <h2 th:text="#{home.leaderboard}"></h2>

            <div id="teamContainer">
                <h3 th:text="#{home.most_teams}"></h3>

                <div class="w3-container">
                    <table class="w3-centered">
                        <tr>
                            <th th:text="#{home.team}"></th>
                            <th th:text="#{home.activity}"></th>
                            <th th:text="#{home.calories}"></th>
                        </tr>

                        <tr th:each="team : ${bestTeams}">
                            <td><a th:text="${team.name}" th:href="@{/team/{teamId}(teamId=${team.id})}"></a></td>
                            <td th:text="${team.minutes}"></td>
                            <td th:text="${team.calories}"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="athleteContainer">
                <h3 th:text="#{home.most_athletes}"></h3>

                <div class="w3-container">
                    <table class="w3-centered">
                        <tr>
                            <th th:text="#{home.athlete}"></th>
                            <th th:text="#{home.activity}"></th>
                            <th th:text="#{home.calories}"></th>
                        </tr>

                        <tr th:each="member : ${bestMembers}">
                            <td th:text="${member.name}"></td>
                            <td th:text="${member.minutes}"></td>
                            <td th:text="${member.calories}"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

</section>
</body>
</html>
