<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/common.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{perf_sum}, show_link_home='true', name=${teamName})"/>

<section class="w3-center w3-padding-24">

    <div th:if="${isTeamFull == null and isAlreadyMember == null}">
        <h3 th:text="#{join.descr(${team.name})}"/>

        <div class="w3-cell-row">
            <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
            <a class="w3-cell" th:text="#{join.ok}"
               th:href="@{/join}"></a>
        </div>
    </div>

    <div th:if="${isTeamFull != null}">
        <h2 th:text="#{join.full_text1}"/>
        <h3 th:text="#{join.full_text2(${team.name})}"></h3>

        <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
    </div>


    <div th:if="${isAlreadyMember != null}">
        <h2 th:text="#{join.full_text1}"/>
        <h3 th:text="#{join.already_member(${person.memberOf.name})}"></h3>

        <div class="w3-cell-row">
            <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
        </div>
    </div>


</section>

</body>
</html>