<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/common.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{home.title}, show_link_home='true')"/>

<section class="w3-center w3-padding-24">

    <h2 th:text="#{join.success(${updatedTeam.name})}"></h2>

</section>

</body>
</html>