<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/sign_in.css"/>

</head>

<body>
<div th:replace="fragments/header :: header(title=#{auth.title}, show_link_home='true')"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{auth.msg}"></h2>
    <h2><a th:text="#{auth.login}" th:href="@{/oauth2/authorization/google}"/> <img
            src="/images/google_logo.jpg"
            width="50px" height="50px"/>
    </h2>

</section>
</body>
</html>
