<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/team_performance.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{perf_sum}, show_link_home='true', name=${teamPerformancePageData.teamName})"/>

<section class="w3-center w3-padding-24">

    <h2 th:text="#{team_perf.title}" class="w3-center"/>

    <div th:replace="fragments/performance_bar :: performanceBar(${teamPerformancePageData.totalHoursSpent}, ${teamPerformancePageData.totalCaloriesBurnt})"/>


    <div id="performanceContainer">
        <h2 th:text="#{team_perf.ind}"></h2>


        <div th:unless="${thereAreActivites}">
            <h2 th:text="#{home.no_activites}"></h2>
            <h3 th:text="#{home.be_first}"></h3>
        </div>

        <div th:if="${thereAreActivites}">
            <div class="w3-container">
                <table class="w3-centered">
                    <tr>
                        <th th:text="#{home.athlete}"></th>
                        <th th:text="#{home.activity}"></th>
                        <th th:text="#{home.calories}"></th>
                    </tr>

                    <tr th:each="scoreboardItem : ${teamPerformancePageData.memberScoreboard}">
                        <td th:text="${scoreboardItem.name}"></td>
                        <td th:text="${scoreboardItem.minutes}"></td>
                        <td th:text="${scoreboardItem.calories}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>

</body>
</html>