<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>
    <link rel="stylesheet" href="../css/team_registration_confirmation.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{team_reg})"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{team_reg_confirm.title}" class="w3-center"/>

    <div th:text="#{team_reg_confirm.distribute}"></div>

    <div th:text="${joiningURLSchema} + ${storedTeamId}"></div>

    <div class="w3-cell-row">
        <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
        <a class="w3-cell" th:text="#{team_reg_confirm.team_perf}"
           th:href="@{/team/{teamId}(teamId=${storedTeamId})}"></a>
    </div>

</section>

</body>
</html>