<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/team_registration.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{team_reg}, show_link_home='true')"/>

<section class="w3-center w3-padding-24">

    <h2 th:text="#{team_reg.welcome}" class="w3-center"/>

    <h3 th:text="#{team_reg.desc}"></h3>

    <h3 id="sign_up_title" th:text="#{team_reg.sign_up}"></h3>

    <form th:action="@{/submit-team-registration}" method="post" th:object="${teamFormBean}">
        <p th:text="#{team_reg.pick_name}"/>
        <input type="text" th:field="*{name}" th:errorclass="inputFieldErr"/>

        <p th:text="#{team_reg.members}"/>

        <input type="text" th:field="${teamFormBean.members[0].name}" th:errorClass="inputFieldErr"/><br/>
        <input type="text" th:field="${teamFormBean.members[1].name}" th:errorClass="inputFieldErr"/><br/>
        <input type="text" th:field="${teamFormBean.members[2].name}" th:errorClass="inputFieldErr"/><br/>
        <input type="text" th:field="${teamFormBean.members[3].name}" th:errorClass="inputFieldErr"/><br/>
        <input type="text" th:field="${teamFormBean.members[4].name}" th:errorClass="inputFieldErr"/><br/>

        <button type="submit" class="button" th:text="#{team_reg.reg_button}"></button>
        <div class="globalErr" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></div>
    </form>

</section>

</body>
</html>