<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>

    <link rel="stylesheet" href="../css/team_registration.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{team_reg}, show_link_home='true')"/>

<section class="w3-center w3-padding-24">

    <h2 th:text="#{team_reg.welcome}" class="w3-center"/>

    <h3 th:text="#{team_reg.desc}"></h3>

    <h3 id="sign_up_title" th:text="#{team_reg.sign_up}"></h3>

    <form th:action="@{/submit-team-registration}" method="post">
        <p th:text="#{team_reg.pick_name}"/>
        <input type="text" name="teamName"/> <br/>

        <button type="submit" class="button" th:text="#{team_reg.reg_button}"></button>
        <div class="errorClass" th:each="msfg : ${errorMessages}" th:text="${msfg}"></div>
    </form>
</section>

</body>
</html>