<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>
    <link rel="stylesheet" href="../css/team_registration_confirmation.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{team_reg})"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{team_reg_confirm.title}" class="w3-center"/>

    <div th:text="#{team_reg_confirm.text1}"></div>

    <div th:text="#{team_reg_confirm.important}"></div>

    <div th:text="#{team_reg_confirm.text2}"></div>

    <div th:text="#{team_reg_confirm.text3}"></div>

    <div th:text="#{team_reg_confirm.team_link_title}"></div>
    <div><a th:text="${teamURLSchema} + ${registeredTeam.id}" th:href="${teamURLSchema} + ${registeredTeam.id}"></a>
    </div>
    
    <div class="w3-container">
        <table class="w3-centered">
            <tr>
                <th th:text="#{team_reg_confirm.member}"></th>
                <th th:text="#{team_reg_confirm.link}"></th>
            </tr>

            <tr th:each="member : ${registeredTeam.members}">
                <td th:text="${member.name}"></td>
                <td><a th:text="${personalURLSchema} + ${member.id}" th:href="${personalURLSchema} + ${member.id}"></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="w3-cell-row">
        <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
        <a class="w3-cell" th:text="#{team_reg_confirm.team_perf}"
           th:href="@{/team/{teamId}(teamId=${registeredTeam.id})}"></a>
    </div>

</section>

</body>
</html>