<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title}"></title>
    <link rel="stylesheet" href="../css/you_are_not_member.css"/>
</head>

<body>
<div th:replace="fragments/header :: header(title=#{home.title})"/>

<section class="w3-center w3-padding-24">
    <h2 th:text="#{not_member.title}"></h2>

    <h3 th:text="#{not_member.desc1}"></h3>
    <h2 th:text="#{not_member.desc2}"></h2>
    <h3 th:text="#{not_member.desc3}"></h3>

    <div class="w3-cell-row">
        <a class="w3-cell" th:text="#{team_reg_confirm.home}" th:href="@{/}"></a>
        <a class="w3-cell" th:text="#{not_member.create_team}" th:href="@{/team-registration}"></a>
    </div>

</section>

</body>
</html>